<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'), { title } %>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <h3><%= title %></h3>
      <form
        action="/blog/<%= post.id %>?_method=PUT %>"
        method="post"
        class="flex-col form"
      >
        <%- include('../partials/form'), { post } %>
      </form>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
