<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'), { title } %>
  <body>
    <%- include('../partials/nav') %>
    <div class="container">
      <h3><%= title %></h3>
      <div><%= post.title %></div>
      <div><%= post.createdAt.toLocaleDateString() %></div>
      <div><%= post.description %></div>
      <div><%- post.sanitizedEntry %></div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
