<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'), { title } %>
  <body>
    <%- include('./partials/nav') %>
    <div class="container"><%= title %></div>
    <h2>Latest Blog</h2>
    <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>
    <div>
      <h3><%= blog.title %></h3>
      <div>Author: <%= blog.author %></div>
      <div>Created: <%= blog.createdAt.toLocaleDateString() %></div>
      <div>Last Modified: <%= blog.updatedAt.toLocaleDateString() %></div>
      <div><%= blog.description %></div>
      <div><%- blog.sanitizedEntry %></div>
      <form action="/blog/<%= blog.id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>
      <a href="/blog/edit/<%= blog.id %>">Edit</a>
    </div>
    <% }) } else { %>
    <div>No blog posts found...</div>
    <% } %> <%- include('./partials/footer') %>
  </body>
</html>
