<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'), { title } %>
  <body>
    <%- include('../partials/nav'), { current } %>
    <h2><%= title %></h2>
    <div>Welcome, <%= name %></div>
    <div>Member since: <%= createdAt.toLocaleDateString() %></div>
    <div>Email <%= email %></div>
    <%- include("../partials/messages") %>
    <h2>Add a new post to your blog</h2>
    <form action="/blog" method="post" class="flex-col form">
      <input type="text" name="title" id="title" placeholder="title" />
      <input
        type="text"
        name="description"
        id="description"
        placeholder="description"
      />
      <textarea name="entry" id="entry" placeholder="Entry"></textarea>
      <button type="submit">Add</button>
    </form>
    <h2>Your Blog Posts</h2>
    <% if(blogs.length > 0) { %> <% blogs.forEach(blog => { %>
    <div>
      <div class="title"><%= blog.title %></div>
      <div class="date">
        Last Updated On: <%= blog.updatedAt.toLocaleDateString() %>
      </div>
      <div class="description"><%= blog.description %></div>
      <form action="/blog/<%= blog.id %>?_method=DELETE" method="post">
        <button type="submit">Delete</button>
      </form>
      <a href="/blog/<%= blog.id %>">Edit</a>
    </div>
    <% }) %> <% } else { %>
    <div class="message">No entries found</div>
    <% } %>
  </body>
</html>
