<nav>
  <a href="/" class="<%- (current === 'home') ? 'current' : 'available'; %>"
    >Home</a
  >
  <a href="/blog" class="<%- (current === 'blog') ? 'current' : 'available'; %>"
    >Blog</a
  >
  <a
    href="/portfolio"
    class="<%- (current === 'portfolio') ? 'current' : 'available'; %>"
    >Portfolio</a
  >
  <a
    href="/about"
    class="<%- (current === 'about') ? 'current' : 'available'; %>"
    >About</a
  >
  <a
    href="/contact"
    class="<%- (current === 'contact') ? 'current' : 'available'; %>"
    >Contact</a
  >
  <a
    href="/login"
    class="<%- (current === 'login') ? 'current' : 'available'; %>"
    >Login</a
  >
</nav>
